h1 {
    text-align: center;
}


.hero{
    position:absolute;
	top: 100px;
	left: 10px;
	z-index: 1;
    margin-left: 300px;    
}



.left{
    position:absolute;
    top: 250px;
    left: 368px;
    z-index: 2;
    width: 250px;
    height: 250px;
}

.center{
    position:absolute;
    top: 250px;
    left: 627px;
    z-index: 2;
    width: 250px;
    height: 250px;
}

.right{
    position:absolute;
    top: 250px;
    left: 890px;
    z-index: 2;
    width: 250px;
    height: 250px;
}


.result{
    position:absolute;
    top: 538px;
    left: 497px;
    z-index: 1;
    color: white;
}
h1 {

    font-family: 'Muli', sans-serif;
    font-size: 50px;
}


canvas {
    margin-left: 0px;
    margin-top: 700px;
}

